/* Planos UMBU */
.planosUmbu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.planosUmbu h2{
    font-size: 45px;
    font-weight: 700;
}

.planosTextColor{
    color: #00C800;
    border-bottom: 4px solid #00C800;
    padding-bottom: 12px;
}

.folhas {
    display: flex;
    justify-content: end;
    width: 110%;
    margin-bottom: -980px;
}


.folhas2 {
    margin-right: auto;
}

.umbuPremium{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.umbuPremium h3{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}

.umbuPremium p{
    font-size: 20px;
}

.planosTextColor2{
    color: #00C800;
}

.cardsPlanos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: #00572E;
    box-shadow: 0px 0px 4px 0px rgba(238, 236, 236, 0.05);
    padding: 42px 24px 42px 24px; 
    width: 382px;
    height: 369px;
}

.planoRecomendado{
    background-color: #178b17;
    border-radius: 4px 4px 0px 0px;
    padding: 5px 50px 5px 50px;
    margin-top: -74px;
    color: rgb(255, 255, 255);
}

.card h3 {
    color: #ffffff;
}

.card span {
    color: #B8B8B8
}

.card h4{
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tipoPlano{
    font-size: 20px;
    font-weight: 400;
}

.card button{
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ffffff;
    width: 100px;
    height: 50px;
    background: transparent;
    transition: 0.4s;
}

.card button:hover{
    background: #00C800; 
}
