.mainPerfil{
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.AbaPortfolio{
    display: flex;
    justify-content: center;
 
}

/* .mainPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
} */

.mainPerfilPerfi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
}