/* *{
    margin: 0;
    padding: 0;
}

.AbaPortfolio{
    display: flex;
    justify-content: center;
 
}

.portfolio{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */


.AbaPortfolio{
    display: flex;
    justify-content: center;
 
}