.itensFixo {
    margin-left: 4%;
    margin-right:  4%;

    
}

.titulo {
    color: #000;
    font-size: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 4%;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

.pOpcoes {
    color: #565656;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pOpcoes:first-child {
    font-weight: bold;
}

.notificacao {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 20%;
    height: 20vh;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.imgPerfil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
}

.box {
    margin-left: 1%;
}


.nomeContratante {
    font-weight: bold;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
}

.nota {
    display: flex;
    gap: 3px;
    color: #006845;
}

.comentario {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    line-height: normal;
    margin-bottom: 0.5%;
}

.data {
    color: #006845;
    font-family: Montserrat;
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
}

.conteudoNotificacao{
    max-width: 95%;
    margin-left: 250px;
}

.fotoConversa{
        object-fit: cover;
        width: 80px;
}