

.itensFixo1 {
    margin-left: 4%;
    margin-right:  4%;
}

.notificacoes1 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 4%;
    font-family: Montserrat;
    padding-top: 30px;
}

.opcoes1 {
    display: flex;
    gap: 320px;
    margin-bottom: 4%;
}

.pOpcoes1 {
    color: #565656;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pOpcoes1:first-child {
    font-weight: bold;
}