.Conteudo {
    padding-top: 3vw;
    margin-left: 19vw;
    margin-right: 30vw;
    width: 75vw;
    position: fixed;
    padding-bottom: 1vw;

}


.Conteudo .rectangle {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
    height: 39vw;
    width: 75vw;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px
}

.Header {
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 3vw;
}

p {
    color: #000000;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 2vw;
    font-weight: 600;

    line-height: normal;


}

.Inf {
    display: flex;
    gap: 14vw;
    margin-right: 0vw;

}

label {
    color: #1b1b1b;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 1vw;
    font-weight: 600;

    line-height: normal;

    display: block;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

input {
    padding: 1vw;
    width: 18vw;
    height: 3vw;
    border-color: #848484;
}

#otherInput {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #848484;
    border-radius: 5px;
    height: 3vw;
    width: 29vw;
}

.Flex {
    display: flex;
    gap: 2vw;
}

.Flex .input1 {
    margin-bottom: 2vw;
    margin-top: 0vw;
    display: block;
    height: 3vw;
    border-color: #848484;
}

.Flex .input2 {
    margin-bottom: 1vw;
    margin-top: 0vw;
    height: 3vw;
    display: block;
    border-color: #848484;
}

.foto_inf {
    padding-top: 2vh;
    padding-bottom: 12vw
}

.fotoJ {
    border-radius: 250px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.foto_inf .fotoJ {
    height: 11vw;
    width: 11vw;
}

.Passinput {
    padding-top: 1vw;
}

#ultimoInput {
    padding-top: 1vw;
    width: 16vw;
    border-color: #848484;
}

.butt {
    padding-top: 2vw;
    display: flex;
    gap: 1vw;
}

.Cancel {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #00572E;
    border-radius: 1vh;
    height: 2vw;

    width: 8vw;
}

.Cancel {
    color: #00572E;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;


}

.Save {
    background: #00572E;
    border: 2px solid;
    border-color: #00572E;
    border-radius: 1vh;
    height: 2vw;

    width: 8vw;
}

.Save {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.input-container {
    position: relative;
    width: 18vw;
   
}

.icon {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
}

.icon_email {
    position: absolute;
    top: 50%;
    left: 148%;
    transform: translateY(-50%);
}

.icon_cidade {
    position: absolute;
    top: 50%;
    left: 86%;
    transform: translateY(-50%);
}

.icon_estado {
    position: absolute;
    top: 50%;
    left: 86%;
    transform: translateY(-50%);
}

.icon-foto {
    position: absolute;
    top: 42%;
    left: 84%;
    transform: translateY(-50%);
    font-size: 1vw;
    color: #00572E;
}

.icon_foto {
    position: absolute;
    font-size: 2vw;
    transform: translateY(-59%);

}