@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.page{
  display: flex;
}

.containerHeader{
  display: flex;
  justify-content: center;
}

header{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  border-bottom: 1px solid #006845;
  margin-left: 50px;
  margin-right: 50px;
  gap: 10px;
  
}

header nav ul{
  display: flex;
  gap: 100px;
  list-style: none;
  padding-top: 15px;
}

.listNav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.listNav a{
  color: #006845;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.listNav a:hover{
 color: #002619; 
}

.logotipo{
  padding-bottom: 20px; 
}

.logotipo img{
  width: 130px;
  height: 79px;
}

.buttomLogin{
  display: flex;
  gap: 15px;
}

.dropMenu{
  display: none;
}

/* breakpoint para telas de notebook */
@media screen and (max-width: 1366px){
  header nav ul{
    gap: 55px;
  }

  .listNav a{
    font-size: 17px;
  }
}

@media screen and (max-width: 1150px){
  header nav ul{
    gap: 25px;
  }
}

/* breakpoint para telas de celular */
@media screen and (max-width: 768px){
  header{
    padding: 10px 10px 0px 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
 
  .buttomLogin{
    display: none;
  }

  .navegacao{
    display: none;
  }

  .dropMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
