* {
    margin: 0;
    padding: 0;
    background-color: #F7F7F8;
}

.fixos {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 30vw;
    margin-top: 3vh;
}

.opcao1 {
    color: #006845;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
}

.opcao2 {
    color: #006845;
    font-family: Montserrat;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
}

.itensFixo {
    margin-left: 35vw;
    margin-right: 35vw;
}

