footer{
    display: flex;  
    justify-content: center;
    align-items: center;
    background: #1B4C34;
    flex-direction: column;
    text-align: center;
    padding: 40px 0px 30px 0px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;    
}

.footerContent{
    display: flex;
    justify-content: center;
    width: 70vw;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    gap: 50px;
}

.colunaFooter{
    display: flex;
    flex-direction: column;
    text-align: start;
    color: white;
    width: 50vw;
}

.divisoria{
    width: 22px;
    height: 3px;
    margin: 10px 5px 20px 0px;
    background-color: #00C800;
}

.linkIcons{
    display: flex;
    gap: 10px;
}

.backgroundIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 19.5px;
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
}

.listFooter{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.listFooter a{
    color: white;
    text-decoration: none;
}

.listFooterContent{
    display: flex;
    flex-direction: column;
    gap: 35px;   
}

.listFooterContent a{
    color: white;
    text-decoration: none; 
}

.confiraFooter{
    display: flex;
    gap: 8px;
    font-size: 14px;
}

.calender{
    color:#E1E1E1;
}

.copyright{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 70vw;
    margin-top: 10px;
}

.copy{
    margin-right: 30vw;
}

.showUp{
    display: flex;
    background: none;
    border: 1px solid #00C800;
    border-radius: 50%;
    color: white;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
}

/* breakpoint para telas de celular */
@media screen and (max-width: 768px){
    .footerContent{
        flex-wrap: wrap;
        gap: 40px;
    }

    .listFooter{
        gap:5px;
    }

    .botaoPageUp{
        justify-content: center;
    }

    .copyright{
        justify-content: center;
        flex-direction: column;
    }

    .copy{
        margin-right: 0px;
    }
  }