.umchat{
    display: flex;
}

/* Style, lista de contatos */
.listaContatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #006845;
    height: 100vh;
    width: 20vw;
}

.listaContatos h2{
    color:white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 7vh;
}

.listaContatos p{
    color: white;
}

.contatos{
    display: flex;
    align-items: center;
    color: white;
    padding-bottom: 15px;
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid #B8B8B8;
    width: 16vw;
    gap: 15px;
    /* border-bottom: 1px solid white; */
}

.contatos img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nome-dataContatos{
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

.nomeContato{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.dataMensagem{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

/* Style área de mensagem */
.headerMensagens{
    display: flex;
    align-items: center;
    width: 80vw;
    height: 85px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
}

.infoContato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    gap: 15px;
}

.infoContato img{
    height: 60px;
    width: 60px;
}

.infoContato p{
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.moreInfo svg{
    width: 30px;
    height: 30px;
    margin-right: 50px;
}