.informacaoSuperior{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: baseline;

}

.parteTextoLanding{
    margin-top: 80px;
}

.imagemJardinagemSuperior{
    width: 520px;
    margin: 50px;
}

.tituloSuperior{
    font-weight: 800;
    font-size: 45px;
    color: #00572E;
}

.paragrafoSuperior{
    font-size: 20px;
}

.informacaoInferior{
    display: flex;
    flex-direction: row-reverse;
}

.imagemJardinagemInferior{
    width: 500px;
    margin: 50px;
    margin-top: -150px;

}

.parteTextoLandingInferior{
    margin: 60px;
}

.tituloInferior{
    font-weight: 800;
    font-size: 45px;
    color: #00572E;
}

.paragrafoInferior{
    font-size: 20px;

}

.informacaoSuperior, .informacaoInferior{
    max-width: 87%;
    display: flex;
margin-left: 60px;

}