/* Estilo global */
body {
    position: relative;
    height: 100%;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Estilo do carousel */
.swiper {
    width: 99vw;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exemploSobreposicao {
    position: absolute;
    z-index: -1;
}

.colunaFotoItens {
    position: absolute;
    margin-top: -50px;
    z-index: 0;
}

/* Estilo Informações */
.informacaoSuperior,.informacaoInferior {
    display: flex;
    flex-direction: row;
    max-width: 85%;
    margin-left: 160px;
    padding: 20px;
    justify-content: baseline;
}

.parteTextoLanding,
.parteTextoLandingInferior {
    margin-top: 80px;
}

.imagemJardinagemSuperior {
    width: 450px;
    margin: 50px;
}

.imagemJardinagemInferior {
    width: 450px;
    margin: 50px;
    margin-top: -150px;


}

.tituloSuperior,
.tituloInferior {
    font-weight: 800;
    font-size: 35px;
    color: #00572E;
}

.paragrafoSuperior,
.paragrafoInferior {
    font-size: 19px;
    text-align: justify;
}

.informacaoInferior {
    flex-direction: row-reverse;
    margin-bottom: 70px;
}

.parteTextoLandingInferior {
    margin: 60px;
}


/* estilo cards */

.nossosServicos {
    color: #00572E;
    text-align: center;
    font-size: 55px;
    font-style: bold;
    font-weight: 900;
    line-height: normal;
}

.testeClass{
    margin-bottom: 120px;

}

/* Estilo iframe */

.containerFrame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 90%;
    padding: 25px;
}

.tituloFrame {
    color: #00572E;
    max-width: 90%;
    text-align: center;
    font-size: 55px;
    font-weight: 800;
}

.tituloParagrafo{
    color: #000;
    text-align: center;
    max-width: 90%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

}

hr{
    display: flex;
    justify-content: center;
    max-width: 70%;
    color: #00572E;
    margin-left: 270px ;
}

.divReviewsCards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
    .informacaoSuperior, .informacaoInferior {
        flex-direction: column;
        max-width: 100%;
        margin-left: 0;
        padding: 10px;
    }

    .imagemJardinagemSuperior,
    .imagemJardinagemInferior {
        width: 100%;
        margin: 20px 0;
        margin-top: 0;
    }

    .parteTextoLanding,
    .parteTextoLandingInferior {
        margin-top: 40px;
    }
    .divReviewsCards{
        display: flex;
flex-direction: column;    }
    
}

.cardPlanosumbu {
    background-color: #CCF4CC;
    width: 100vw;
    padding: 45px;
    margin-bottom: 70px ;
    margin-top: 150px;
}

.cardCompletoumbu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloPlanos {
    font-size: 45px;
    font-weight: 700;
}

.premiumCor {
    color:  #349C4B;
    font-weight: 500;
    text-decoration: underline;
}

.descricaoPrecos {
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    max-width: 80%;
}

.planoTipo{
    background-color: white;
    height: 50vh;
    width: 19vw;
    display: flex;  
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 20px;
    padding: 25px;
}

.planoTipo h4 {
    color: #0B2110;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    /* 33.6px */
}

.planoTipo p {
    color: #2E3630;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.precos {
    color: #0B2110;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: baseline;
}

.precoValor {
    color: #0B2110;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.botaoSem{
    border: #349C4B 1px solid;
    color: #349C4B;
    font-weight: 900;
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    
}

.botaoSem:hover{
    color: white;
    background-color:  #349C4B;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.tabelaPrecos{
    display: flex;
    justify-content: space-evenly;
}

.recomendadoIcone{
    border: 1px solid;
    height: 35px;
    width: 80%;
    margin-left: 25px;
    background: #349C4B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px ;
}

.recomendadoIcone p{
    padding-top: 15px;
}