* {
    margin: 0;
    list-style-type: none;
}

.itenSite {
    display: flex;
    flex-direction: column;
    margin: 9px;
    margin-top: 35px;
    border: 1px solid #006845;
    gap: 25px;
}

.categories {
    color: #808080;
    font-style: normal;
    font-weight: 200;
    padding: 7px;
    display: inline;
    align-items: baseline;
}

.itensFinal {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alterado para flex-start */
    justify-content: flex-end; /* Alterado para flex-end */
    width: 244px;
    height: 104px;
    flex-shrink: 0;
    border: 1px solid #006845;
}

.barraLateral {
    border: 1px solid #000; /* Adicione a cor desejada para a borda */
    width: 30vh;
}
