* {
    margin: 0px;
    font-style: none;
}

.barraLateral {
    width: 255px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;}

.itemSite {
    margin: 10px;
}

.container {
    padding: 8px;

}


.cardJardineiro {
    padding: 10px;
}

.itemFinal {
    margin: 10px;
}

.categories {
    padding: 15px;
    cursor: pointer;


}

.container:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    padding: 20px;
    cursor: pointer;
    background: rgba(0, 104, 69, 0.18);
    color:#006845;
    width: 245px;

}



a {
    text-decoration: none;
    color: inherit;
}

.iconUrl{
    font-size: 18px;
    cursor: pointer;
}


.iconUrl:hover{
    color: #006845;

}


.itemFinal{
    margin-top: 60px;
}

.itemSite{
    margin-top:35px;

}