* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: #00572E;
    font-weight: bold;
    text-decoration: underline;
}

.imgAreasComuns {
    width: 400px;

}

.box1 {
    display: flex;
    margin-top: 100px;
    margin-left: 15%;
}

.text {
    margin-left: 50px;
    margin-top: 27px;
    text-align: justify;
    width: 600px;
}



.TextMaior {
    font-size: 25px;
    font-weight: bold;
    color: #00572E;
}

.TextMenor {
    font-size: 20px;
}

.box2 {
    display: flex;
    margin-top: 100px;
    justify-content: end;
    margin-right: 15%;

}

.imgMobile {
    height: 550px;
}

.text2 {
    width: 550px;
    margin-right: 10%;
    margin-top: 5%;
    text-align: justify;
}

.TextMaior2 {
    font-size: 23px;
    font-weight: bold;
    color: #00572E;
}

.TextMenor2 {
    font-size: 18px;
}

.imgUMshop {
    width: 400px;

}

.box3 {
    display: flex;
    margin-top: 100px;
    margin-left: 15%;
    margin-bottom: 10%;
}

.text3 {
    margin-left: 50px;
    margin-top: 40px;
    text-align: justify;
    width: 600px;
}



.TextMaior3 {
    font-size: 25px;
    font-weight: bold;
    color: #00572E;
}

.TextMenor3 {
    font-size: 20px;
}