.escalabilidadeSwiper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    --swiper-theme-color: #00C800;
}

.escalabilidadeSwiper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideUmbuNosJardins{
    width: 100%;
    height: 500px;
}

.tituloSlider{
    color: white;
    font-size: 30px;
    margin-top: 420px;
    margin-left: 25px;
    font-weight: 700;
    font-size: 32px;
    position: absolute;
    z-index: 2;
    text-shadow: black 0.1em 0.1em 0.2em

}

.image{
    position: absolute;
    z-index: 1;
    filter: blur(1.5px);

}
.detalheTitulo{
    color:#16A016;
}

.carouselEscalabilidade{
    margin-bottom: 50px;
}

.descricaoEscalabilidade{
    font-size: 20px;
    max-width: 80%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: justify;

}

.tituloCaroussel h2{
    gap: 10px;
    display: flexbox;
    flex-direction: row;
}

.conteudoEscalabilidade{
    width: 80%;
    padding-left: 10%;
}

.conteudoEscalabilidade h3{
    color: #00572E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.conteudoEscalabilidade p{
    color: #666;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}